*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

#novoContato{
     display: none;
}

.contato{
     cursor: pointer;
     display: flex;
     align-items: center;
     justify-content: center;
     width: 200px;
     height: 100px;
}

.contato:hover{
     transform: scale(1.05);
     transition: all 0.3s;
     box-shadow: 3px 3px 6px rgb(37, 36, 36);
}